{% extends "base.html" %}
{% load static i18n%}
{% load filters %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static '/css/datatable/dataTables.bootstrap.min.css' %}">
{% endblock css %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <div class="col-sm-4">
      <div class="page-header float-left">
        <div class="page-title">
          <h1>{% trans 'Day Review' %}</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="page-header float-right">
        <div class="page-title">
          <ol class="breadcrumb text-right">
            <li><a href="{% url 'home' %}">{% trans 'Dashboard' %}</a></li>
            <li class="active">{% trans 'Day Review' %}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
{%  endblock breadcrumbs %}

{% block content %}
  {% if is_old_workday %}
    <div class="row">
      <div class="col-xs-6 col-lg-12">
        <div class="card card-danger">
          <div class="card-header">
            <strong>{% trans "Old workday" %}</strong>
          </div>
          <div class="card-body card-block">
            <p>{{ workday.date }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>{% trans 'Overview for' %} {{ workday }}</strong>
        </div>
        <div class="card-body card-block">
          <div class="stat-widget-one">
            <div class="stat-content dib">
              {% if workers_missing_logs %}
                  <div class="stat-text">
                    Cantidad de trabajadores sin registros:
                  </div>
                  <div class="stat-digit">{{ workers_missing_logs|length }}</div>
              {% else %}
                <div class="stat-text">
                  {% trans "All workers have logs to match their hours. When you are sure everything is done, you can end the day." %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>{% trans 'Logs Review' %}</strong>
        </div>
        <div class="card-body">
          <table id="logs" class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>{% trans "Worker Nº" %}</th>
              <th>{% trans "Worker Category" %}</th>
              <th>{% trans "Full Name" %}</th>
              <th>{% trans "Task" %}</th>
              <th>{% trans "Hours Logged" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}
              <tr>
                <td>{{ log.worker.code }}</td>
                <td>{{ log.worker.category.code }}</td>
                <td>{{ log.worker.last_name }}, {{ log.worker.first_name }}</td>
                <td>{{ log.task.name }}</td>
                <td>{% if log.task.is_boolean %}-{% else %}{{ log.amount }}{% endif %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <div class="card">
        <div class="card-body card-block">
          <div class="col-sm-6 col-12">
            <a href="{% url 'tracker:log_hours' request.user.username %}" role="button" class="btn btn-lg btn-block btn-outline-primary">{% trans "Back to Edit Hours" %}</a>
          </div>
          <div class="col-sm-6 col-12">
            <form method="post" action="{% url 'tracker:api_daily_report' request.user.username %}">{% csrf_token %}
              <input type="text" name="workdaydate" style="display:none;" value="{{ workday }}"/>
              <button id="report" class="btn btn-lg btn-block btn-outline-primary" type="submit">{% trans "Download Report" %}</button>
            </form>
          </div>
        <br>       <br>

          <div class="col-12">
            <form method="post" action="{% url 'tracker:api_end_day' request.user.username%}">{% csrf_token %}
              <button type="submit"
                      class="btn btn-lg btn-block btn-success"
                      {% if workers_missing_logs %} disabled {% endif %}
              >
                {% trans "Confirm and End Day" %}
              </button>
            </form>
            {%  if workers_missing_logs %}
              <p class="col-xs-6">
                {% trans 'Ammend logs to correctly end the day.' %}
                <a href="#" class="btn btn-sm btn-link" data-toggle="modal" data-target="#comment-modal">{% trans 'End anyway?' %}</a>
              </p>
              <div class="modal fade" id="comment-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
                <div class="modal-dialog modal-md" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal-label">{% trans 'End Day Without Validation' %}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        {% trans 'To end a day without all workers having their required hours logged, a written comment is mandatory.' %}
                      </p>
                      <form method="post" action="{% url 'tracker:api_end_day' request.user.username %}">{% csrf_token %}
                        <textarea name="comment" required rows="6" placeholder="{% trans 'Comment (required)' %}" class="form-control"></textarea>
                        <br>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-success">{% trans "Confirm and End Day" %}</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-lg btn-block btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content%}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/data-table/datatables.min.js' %}"></script>
  <script src="{% static 'js/data-table/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/data-table/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/data-table/jszip.min.js' %}"></script>
  <script src="{% static 'js/data-table/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/data-table/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.print.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'js/data-table/datatables-init.js' %}"></script>
  <script>
    $('#logs').DataTable({
        "pageLength": 10,
        "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        }
    });
  </script>
{% endblock javascript %}
