{% extends "base.html" %}
{% load static i18n%}
{% load filters %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static '/css/datatable/dataTables.bootstrap.min.css' %}">
{% endblock css %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <div class="col-sm-4">
      <div class="page-header float-left">
        <div class="page-title">
          <h1>{% trans 'Log Hours' %}</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="page-header float-right">
        <div class="page-title">
          <ol class="breadcrumb text-right">
            <li class="active"><a href="{% url 'home' %}">{% trans 'Dashboard' %}</a></li>
            <li class="active">{% trans 'Log Hours' %}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
{%  endblock breadcrumbs %}

{% block javascript_header %}
  <script>
    var csrf = "{{ csrf_token }}";
    var post_url = "{% url 'tracker:api_add_hours' request.user.username %}";
    var tasks = {{ tasks|js }};
    var grouped_tasks = {{ grouped_tasks|js }};
    var workers = {{ workers|js }};
    const SELECT_TASK_TXT = '{% trans 'Select a task' %}';
    const SELECT_CAT_FIRST_TXT = '{% trans '-' %}';
    const UPDATE_HOURS_FOR_TXT = '{% trans 'Update hours for' %}';
    const LOG_HOURS_FOR_TXT = '{% trans 'Log hours for' %}';
    const UPDATE_BOOLEAN_TASK_TXT = '{% trans 'Update' %}';
    const LOG_BOOLEAN_TASK_TXT = '{% trans 'Log' %}';
    const HOURS_FOR_TXT = '{% trans 'Hours for' %}';
    const LOG_HOURS_TXT = '{% trans 'Log hours' %}';
    const HOURS_OTHER_TASKS_TXT = '{% trans 'Hours for other tasks' %}';
    const TOTAL_HOURS_TXT = '{% trans 'Total hours logged' %}';
    const WRONG_PRECISION_TXT= '{% trans 'All hours must be whole or half hours.' %}';
    const COMMENT_REQUIRED_TXT = '{% trans 'Comment is mandatory for this task.' %}';
    const COMMENT_NOT_REQUIRED_TXT = '{% trans 'Comment (optional)' %}';
  </script>
{% endblock javascript_header %}

{% block content %}
  {% if is_old_workday %}
    <div class="row">
      <div class="col-xs-6 col-lg-12">
        <div class="card card-danger">
          <div class="card-header">
            <strong>{% trans "Old workday" %}</strong>
          </div>
          <div class="card-body card-block">
            <p>{{ workday.date }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>{% trans "Task selection" %}</strong>
        </div>
        <div class="card-body card-block">
          <div class="row form-group">
            <div class="col-12 col-lg-3"><label for="task-category">{% trans 'Task category:' %}</label></div>
            <div class="col-12 col-lg-9">
              <select id="task-category" class="form-control">
                <option value="">{% trans '-Select a category-' %}</option>
                {% for category in grouped_tasks %}
                  <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-12 col-lg-3"><label for="task">{% trans 'Task:' %}</label></div>
            <div class="col-12 col-lg-9">
              <select id="task" name="task" class="form-control" disabled>
                <option value="">{% trans '---' %}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>{% trans 'Hours per worker' %}</strong>
        </div>
        <div class="card-body card-block">
          <p>{% trans 'Each worker is expected to work' %} {{ expected }} {% trans 'hours.' %}</p>
          <table id="hours_per_user" class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>{% trans "Nº" %}</th>
              <th>{% trans "Category" %}</th>
              <th>{% trans "Full Name" %}</th>
              <th>
                <span class="hours-label">{% trans "Select a task" %}</span>
                <input id="select-all" type="checkbox" class="form-control checkbox-lg"/>
              </th>
              <th class="logged-hours-label">{% trans "Total hours logged" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for worker in workers %}
              <tr>
                <td>{{ worker.code }}</td>
                <td>{{ worker.category }}</td>
                <td>{{ worker.last_name }}, {{ worker.first_name }}</td>
                <td>
                  <input type="number" min="0" max="24" step="0.5" class="hours-input form-control checkbox-lg"
                         id="{{ worker.code }}-hours"
                         name="{{ worker.code }}"
                         value="0"
                         disabled
                  />
                </td>
                <td data-toggle="modal" data-target="#{{ worker.code }}-detail">
                  <p class="text-center"><u id="{{ worker.code }}-logged-hours">{{ worker.total_hours }}</u></p>
                  {% if worker.passes_controls %}
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: {{ worker.hours_percent }}%" aria-valuenow="{{ worker.hours_percent }}" aria-valuemin="0" aria-valuemax="100">{{ worker.hours_percent }}%</div>
                    </div>
                  {% elif worker.hours_percent < 100 %}
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: {{ worker.hours_percent }}%" aria-valuenow="{{ worker.hours_percent }}" aria-valuemin="0" aria-valuemax="100">{{ worker.hours_percent }}%</div>
                    </div>
                  {% else %}
                    <div class="progress">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ worker.hours_percent }}%</div>
                    </div>
                  {% endif %}
                </td>
                <div class="modal fade" id="{{ worker.code }}-detail" tabindex="-1" role="dialog" aria-labelledby="{{ worker.code }}-label" aria-hidden="true">
                  <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="{{ worker.code }}-label">{% trans 'Detail for' %} {{ worker.last_name }}, {{ worker.first_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <ul>
                          {% for log in worker.logs %}
                            <li>
                              <p>
                                {% if log.task.is_boolean %}
                                  {% if log.comment %}
                                    {{ log.task.name }} {% trans 'with comment: "' %}{{ log.comment }}".
                                  {% else %}
                                    {{ log.task.name }}.
                                  {% endif %}
                                {% else %}
                                  {% if log.comment %}
                                    {{ log.amount }} {% trans 'hours in' %} {{ log.task.name }} {% trans 'with comment: "' %}{{ log.comment }}".
                                  {% else %}
                                    {{ log.amount }} {% trans 'hours in' %} {{ log.task.name }}.
                                  {% endif %}
                                {% endif %}
                              </p>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-lg btn-block btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="comment-group" class="row">
    <div class="col-xs-6 col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong><label for="comment">{% trans "Comment" %}</label></strong>
        </div>
        <div class="card-body card-block">
          <div class="form-group">
            <textarea id="comment" name="comment" rows="2" placeholder="{% trans 'Comment (optional)' %}" class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <div class="card">
        <div class="card-body card-block">
          <button id="submit-hours" type="submit" disabled class="btn btn-lg btn-block btn-success">{% trans "Log Hours" %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content%}


{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/log_hours.js' %}"></script>

  <script type="text/javascript" charset="utf8" src="{% static 'js/datatables.js' %}"></script>

  <script src="{% static 'js/data-table/datatables.min.js' %}"></script>
  <script src="{% static 'js/data-table/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/data-table/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/data-table/jszip.min.js' %}"></script>
  <script src="{% static 'js/data-table/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/data-table/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.print.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'js/data-table/datatables-init.js' %}"></script>
{% endblock javascript %}
