{% extends "base.html" %}
{% load static i18n%}
{% load filters %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static '/css/datatable/dataTables.bootstrap.min.css' %}">
{% endblock css %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <div class="col-sm-4">
      <div class="page-header float-left">
          <div class="page-title">
              <h1>{{ workday.date }}</h1>
          </div>
      </div>
  </div>
  <div class="col-sm-8">
      <div class="page-header float-right">
          <div class="page-title">
              <ol class="breadcrumb text-right">
                  <li><a href="{% url 'tracker:past_days' request.user.username %}">{% trans 'Past Days' %}</a></li>
                  <li class="active">{{ workday.date }}</li>
              </ol>
          </div>
      </div>
  </div>
</div>
{%  endblock breadcrumbs %}

{% block javascript_header %}
  <script>
    var csrf = "{{ csrf_token }}";
    var post_url = "{% url 'tracker:api_add_hours_past_day' username=request.user.username date=workday.date %}";
    var tasks = {{ tasks|js }};
    var workers = {{ workers|js }};
  </script>
{% endblock javascript_header %}

{% block content %}
<div class="row">
  <div class="col-xs-6 col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>1</strong>
        <small>{% trans 'Task selection' %}</small>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="task" class=" form-control-label">{% trans "Select task" %}</label>
          <select id="task" name="task" class="form-control">
              <option value=""></option>
            {% for task in tasks %}
              <option value="{{ task.id }}">{{ task.code }} - {{ task.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>2</strong>
        <small>{% trans 'Hours per user' %}</small>
      </div>
      <div class="card-body card-block">
        <table id="hours_per_user" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>{% trans "Surname" %}</th>
              <th>{% trans "Name" %}</th>
              <th class="hours-label">
                {% trans "Select a task" %}
              </th>
              <th class="logged-hours-label">
                {% trans "Total hours logged" %}
              </th>
            </tr>
          </thead>
          <tbody>
            {% for worker in workers %}
              <tr>
                <td>{{ worker.last_name }}</td>
                <td>{{ worker.first_name }}</td>
                <td>
                  <input type="text" class="hours-input form-control"
                     id="{{ worker.id }}-hours"
                     name="{{ worker.id }}"
                     value="0"
                     disabled
                  />
                </td>
                <td id="{{ worker.id }}-logged-hours"></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>3</strong>
        <small>{% trans 'Confirmation' %}</small>
      </div>
      <div class="card-body card-block">
        <button id="submit-hours" type="submit" disabled class="btn btn-success">{% trans "Log Hours" %}</button>
      </div>
    </div>
  </div>
</div>
{% endblock content%}


{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/log_hours.js' %}"></script>
{# TODO now it's same script because it does the same thing. Generalize/diversify when it's decided it #}
{# TODO (continues)... won't change, or when it actually does change. #}

  <script type="text/javascript" charset="utf8" src="{% static 'js/datatables.js' %}"></script>


  <script src="{% static 'js/data-table/datatables.min.js' %}"></script>
  <script src="{% static 'js/data-table/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/data-table/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/data-table/jszip.min.js' %}"></script>
  <script src="{% static 'js/data-table/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/data-table/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.print.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'js/data-table/datatables-init.js' %}"></script>
{% endblock javascript %}
