{% extends "base.html" %}
{% load static i18n%}
{% load filters %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static '/css/datatable/dataTables.bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" />
{% endblock css %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <div class="col-sm-4">
      <div class="page-header float-left">
        <div class="page-title">
          <h1>{% trans 'Past Days' %}</h1>
        </div>
      </div>
    </div>
<!--    <div class="col-sm-8">-->
<!--      <div class="page-header float-right">-->
<!--        <div class="page-title">-->
<!--          <ol class="breadcrumb text-right">-->
<!--            <li class="active">{% trans 'Past Days' %}</li>-->
<!--          </ol>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
{%  endblock breadcrumbs %}


{% block javascript_header %}
  <script>
    var csrf = "{{ csrf_token }}";
    var post_url = "{% url 'tracker:api_daily_report_from_past_day' request.user.username %}";
    var post_url_edit = "{% url 'tracker:past_days_edit' request.user.username %}";
    var post_url_consultar_workday = "{% url 'tracker:api_exist_workday' request.user.username %}";
  </script>
{% endblock javascript_header %}

{% block content %}

  {%  if request.user.is_superuser or request.user.is_staff %}
    <div class="row form-group">
      <div class="col-12 col-lg-3"><label for="obraSelect">Elegir obra:</label></div>
      <div class="col-12 col-lg-9">
        <select id="obraSelect" name="obraSelect" class="form-control">
          <option value="">Seleccione una obra</option>
          {% for ob in obras %}
              <option id="{{ ob.code }}" value="{{ ob.code }}">{{ ob.code }} - {{ ob.address}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong><label for="selectDay" class="hidden">{% trans "Select Day" %}</label></strong>
        </div>
        <div class="card-body">
          <p class="text-muted m-b-15">{% trans 'Workdays among the past' %} {{ days }} {% trans 'days can be edited.' %}</p>

          <div class="form-group col-md-4">
            <input id="selectDay" type="text" name="selectDay" class="form-control" autocomplete="off"/>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <div class="card">
        <div class="card-body card-block">
            {% if not request.user.is_superuser and not request.user.is_staff %}
              <div class="col-sm-6 col-12">
                <form method="get" action="{% url 'tracker:past_days_edit' username=request.user.username %}">
                  <input id="wkday" type="text" name="wkday" class="form-control" style="display:none;"/>
                  <button id="edit" class="btn btn-lg btn-block btn-danger" disabled type="submit">{% trans "Edit Day" %}</button>
                </form>
              </div>
            {% endif %}
            <div class="col-sm-6 col-12">
                <button id="report" class="btn btn-lg btn-block btn-primary" disabled type="submit">{% trans "Download Report" %}</button>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content%}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/past_days.js' %}"></script>

  <script src="{% static 'js/data-table/datatables.min.js' %}"></script>
  <script src="{% static 'js/data-table/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/data-table/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/data-table/jszip.min.js' %}"></script>
  <script src="{% static 'js/data-table/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/data-table/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.print.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'js/data-table/datatables-init.js' %}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script>

    $('#selectDay').datepicker({
      closeText: "Cerrar",
      prevText: "&#x3C;Ant",
      nextText: "Sig&#x3E;",
      currentText: "Hoy",
      monthNames: [ "enero","febrero","marzo","abril","mayo","junio",
      "julio","agosto","septiembre","octubre","noviembre","diciembre" ],
      monthNamesShort: [ "ene","feb","mar","abr","may","jun",
      "jul","ago","sep","oct","nov","dic" ],
      dayNames: [ "domingo","lunes","martes","miércoles","jueves","viernes","sábado" ],
      dayNamesShort: [ "dom","lun","mar","mié","jue","vie","sáb" ],
      dayNamesMin: [ "D","L","M","M","J","V","S" ],
      weekHeader: "Sm",
      dateFormat: "dd/mm/yy",
      firstDay: 1,
      isRTL: false,
      showMonthAfterYear: false,
      yearSuffix: ""
    });



    $("#selectDay").change(function(){
        var fecha = $('#selectDay').val();
        let obra = $('#obraSelect').children("option:selected").val();
        console.log('obra:');
        console.log(obra);


        //llamada con fetch
        let datos = {'fecha': fecha, 'obra': obra};
        var myHeaders = new Headers({
              'X-CSRFToken': csrf,
              'Accept': 'application/json',
              'Content-Type': 'application/json',
            });

        var myInit = { method: 'POST',
                       headers: myHeaders,
                       body: JSON.stringify(datos)};

        fetch(post_url_consultar_workday, myInit)
        .then(function(response) {
            if(response.ok) {
                console.log(response);
                response.json().then(function(respuesta) {
                    console.log(respuesta);
                    /*Chequear si existe el workday*/
                    $('#loading').removeClass('is-active');
                    $('#div-mensaje-error').hide();

                    /*Si existe el workday, entonces se habilitan los botones*/
                    $('#wkday').val($('#selectDay').val());
                    let valor = $("#selectDay").val();
                    console.log("valor: " + valor)
                    if ((valor != null) && (valor != "")){
                      $("#edit").attr("disabled", false);
                      $("#report").attr("disabled", false);
                    } else {
                      $("#edit").attr("disabled", true);
                      $("#report").attr("disabled", true);
                    }

                });
            } else {
                response.json().then(function(respuesta) {
                    console.log(respuesta);
                    console.log('Respuesta de red OK pero respuesta HTTP no OK');
                    $('#loading').removeClass('is-active');
                    $('#div-mensaje-error').show();
                    $('#mensaje-error').html(respuesta.message);
                    $("#edit").attr("disabled", true);
                    $("#report").attr("disabled", true);
                });
            }
        })
        .catch(function(error) {
          console.log('Hubo un problema con la petición Fetch:' + error.message);
          $('#loading').removeClass('is-active');
          $('#div-mensaje-error').show();
          $('#mensaje-error').html("Intente nuevamente.");
          $("#edit").attr("disabled", true);
          $("#report").attr("disabled", true);
        });
        //fin llamada con fetch

    });


  </script>
{% endblock javascript %}
