{% extends "base.html" %}
{% load static i18n%}
{% load filters %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static '/css/datatable/dataTables.bootstrap.min.css' %}">
{% endblock css %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <div class="col-sm-4">
      <div class="page-header float-left">
        <div class="page-title">
          <h1>{% trans 'Past Days' %}</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="page-header float-right">
        <div class="page-title">
          <ol class="breadcrumb text-right">
            <li class="active">{% trans 'Past Days' %}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
{%  endblock breadcrumbs %}

{% block content %}
<form method="post" action="{% url 'tracker:api_daily_report' request.user.username %}">{% csrf_token %}
  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong><label for="day" class="hidden">{% trans "Select Day" %}</label></strong>
        </div>
        <div class="card-body">
          <p class="text-muted m-b-15">{% trans 'Workdays among the past' %} {{ days }} {% trans 'days can be edited.' %}</p>
          <div class="form-group">
            <select id="day" name="date" class="form-control">
              <option value="">{% trans '-Select a workday-' %}</option>
              <optgroup label="{% trans 'Editable' %}">
                {% for workday in editable_workdays %}
                  <option data-url="{% url 'tracker:past_days_edit' username=request.user.username date=workday.date|date:'Y-m-d' %}" value="{{ workday.date|date:'Y-m-d' }}">{{ workday.date }} {% trans 'at' %} {{ workday.building }}</option>
                {% endfor %}
              </optgroup>
              <optgroup label="{% trans 'Non-editable' %}">
                {% for workday in non_editable_workdays %}
                  <option value="{{ workday.date|date:'Y-m-d' }}">{{ workday.date }} {% trans 'at' %} {{ workday.building }}</option>
                {% endfor %}
              </optgroup>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <div class="card">
        <div class="card-body card-block">
            <div class="col-sm-6 col-12">
              <button id="edit" class="btn btn-lg btn-block btn-danger" disabled type="button">{% trans "Edit Day" %}</button>
            </div>
            <div class="col-sm-6 col-12">
              <button id="report" class="btn btn-lg btn-block btn-primary" disabled type="submit">{% trans "Download Report" %}</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock content%}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/past_days.js' %}"></script>

  <script src="{% static 'js/data-table/datatables.min.js' %}"></script>
  <script src="{% static 'js/data-table/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/data-table/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/data-table/jszip.min.js' %}"></script>
  <script src="{% static 'js/data-table/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/data-table/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.print.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'js/data-table/datatables-init.js' %}"></script>
{% endblock javascript %}
