{% extends "account/base.html" %}

{% load static i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block javascript_header %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
{% endblock javascript_header %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block navbar %}
    {#  This block overrides the super block to remove the navbar  #}
{% endblock navbar %}

{% block content %}
{#    <div class="container">#}
        <div id="login-box">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}"/>
                <h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
            </div><!-- /.logo -->
            <div class="controls">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    {#  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
                    <button class="primaryAction btn btn-primary btn-custom" type="submit">{% trans "Sign In" %}</button>
                </form>
            </div><!-- /.controls -->
        </div><!-- /#login-box -->
{#    </div><!-- /.container -->#}

    <div id="particles-zone"></div>

{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock javascript %}
